spring:
  application:
    name: "gatewayserver"
  config:
    import: "${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8071}"
  cloud:
    circuitbreaker:
      resilience4j:
        enabled: true
    gateway:
      httpclient:
        connect-timeout: 1000
        response-timeout: 5s
      server:
        webflux:
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true

server:
  port: 8072

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: "${EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE:http://localhost:8070/eureka/}"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000
  instances:
    cardCircuitBreaker:
      baseConfig: default
    profileCircuitBreaker:
      base-config: default

resilience4j.timelimiter:
  instances:
    cardCircuitBreaker:
      timeout-duration: 6s

logging:
  level:
    org.springframework.cloud.gateway.filter.factory.RetryGatewayFilterFactory: DEBUG
    reactor.netty.http.client: DEBUG
    dasturlash:
      uz:
        gatewayserver: DEBUG

info:
  app:
    name: "GatewayServer"
    description: "MiniBank-Transfer microservice GatewayServer"
    version: "1.0.0"