version: "1.1"

services:
  alloy:
    image: grafana/alloy:latest
    volumes:
      - ../observability/alloy/alloy-local-config.yaml:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: run --server.http.listen-addr=0.0.0.0:3104 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    ports:
      - 3104:3104
    deploy:
      resources:
        limits:
          cpus: "0.7"
          memory: 512M
    depends_on:
      - gateway
    networks:
      - mynetwork

  read:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=read"
    ports:
      - 3101:3100
      - 7946
      - 9095
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    deploy:
      resources:
        limits:
          cpus: "1.5"        # maksimal 1.5 yadro ishlatadi
          memory: 1G         # maksimal 1GB RAM ishlatadi
        reservations:
          cpus: "0.5"        # kamida 0.5 yadro zaxira
          memory: 512M       # kamida 512 MB RAM kafolat
    depends_on:
      - minio
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: &loki-dns
      mynetwork:
        aliases:
          - loki
  write:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=write"
    ports:
      - 3102:3100
      - 7946
      - 9095
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 768M
        reservations:
          cpus: "0.5"
          memory: 512M
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - minio
    networks:
      <<: *loki-dns
  backend:
    image: grafana/loki:latest
    volumes:
      - ../observability/loki/loki-config.yaml:/etc/loki/config.yaml
    ports:
      - "3100"
      - "7946"
    command: "-config.file=/etc/loki/config.yaml -target=backend -legacy-read-mode=false"
    depends_on:
      - gateway
    networks:
      - mynetwork
  minio:
    image: minio/minio
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/loki-data && \
        mkdir -p /data/loki-ruler && \
        minio server /data
    environment:
      - MINIO_ROOT_USER=loki
      - MINIO_ROOT_PASSWORD=supersecret
      - MINIO_PROMETHEUS_AUTH_TYPE=public
      - MINIO_UPDATE=off
    ports:
      - 9000
    volumes:
      - ./.data/minio:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 15s
      timeout: 20s
      retries: 5
    networks:
      - mynetwork
  gateway:
    image: nginx:latest
    depends_on:
      - read
      - write
    entrypoint:
      - sh
      - -euc
      - |
        cat <<EOF > /etc/nginx/nginx.conf
        user  nginx;
        worker_processes  5;  ## Default: 1

        events {
          worker_connections   1000;
        }

        http {
          resolver 127.0.0.11;

          server {
            listen             3100;

            location = / {
              return 200 'OK';
              auth_basic off;
            }

            location = /api/prom/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /api/prom/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /api/prom/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }

            location = /loki/api/v1/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /loki/api/v1/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /loki/api/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }
          }
        }
        EOF
        /docker-entrypoint.sh nginx -g "daemon off;"
    ports:
      - "3100:3100"
    healthcheck:
      test: [ "CMD", "service", "nginx", "status" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
    networks:
      - mynetwork
  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    depends_on:
      - gateway
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
          - name: Loki
            type: loki
            access: proxy
            url: http://gateway:3100
            jsonData:
              httpHeaderName1: "X-Scope-OrgID"
            secureJsonData:
              httpHeaderValue1: "tenant1"
        EOF
        /run.sh
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    networks:
      - mynetwork




  eurekaserver:
    container_name: eurekaserver-container
    image: "eurekaserver:2.0"
    ports:
      - 8070:8070
    environment:
      SPRING_APPLICATION_NAME: "eurekaserver"
    networks:
      - mynetwork

  configserver:
    container_name: configserver-container
    image: "configserver:2.0"
    ports:
      - 8071:8071
    environment:
      SPRING_APPLICATION_NAME: "configserver"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
    networks:
      - mynetwork
    depends_on:
      - eurekaserver
      - appDb

  profile:
    container_name: profile-container
    image: "profile:2.0"
    ports:
      - 8081:8081
    environment:
      SPRING_APPLICATION_NAME: "profile"
      SPRING_PROFILE_ACTIVE: "dev"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8071"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://appDb:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "1234"
    networks:
      - mynetwork
    depends_on:
      - configserver
  card:
    container_name: card-container
    image: "card:2.0"
    ports:
      - 8082:8082
    environment:
      SPRING_APPLICATION_NAME: "card"
      SPRING_PROFILE_ACTIVE: "dev"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8071"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://appDb:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "1234"
    networks:
      - mynetwork
    depends_on:
      - configserver
  transaction:
    container_name: transaction-container
    image: "transaction:2.0"
    ports:
      - 8083:8083
    environment:
      SPRING_APPLICATION_NAME: "transaction"
      SPRING_PROFILE_ACTIVE: "dev"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8071"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://appDb:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "1234"
    networks:
      - mynetwork
    depends_on:
      - configserver
  notification:
    container_name: notification-container
    image: "notification:2.0"
    ports:
      - 8084:8084
    environment:
      SPRING_APPLICATION_NAME: "notification"
      SPRING_PROFILE_ACTIVE: "dev"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8071"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://appDb:5432/postgres"
      SPRING_DATASOURCE_USERNAME: "postgres"
      SPRING_DATASOURCE_PASSWORD: "1234"
    networks:
      - mynetwork
    depends_on:
      - configserver

  gatewayserver:
    container_name: gatewayserver-container
    image: "gatewayserver:2.0"
    ports:
      - 8072:8072
    environment:
      SPRING_APPLICATION_NAME: "gatewayserver"
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: "http://eurekaserver:8070/eureka/"
      SPRING_CONFIG_IMPORT: "optional:configserver:http://configserver:8071"
    networks:
      - mynetwork
    depends_on:
      - configserver
  appDb:
    container_name: appDb-container
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - db_volume:/var/lib/postgresql/data
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: "bridge"
volumes:
  db_volume:


